<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>
        <!--<ion-label color="dark">-->
            <h4>Login</h4>
        <!--</ion-label>-->
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-card class="login_body">



  <img src="../../assets/imgs/mb_logo.png" alt="#" class="loginlogo" />

    <img src="../../assets/imgs/login_img2new.png" alt="#" class="loginimg2" />


    <div class="login_formbody">



        <div class="login_form_input_body">

          <div class="logininputdiv_wrapper">
              <span class="errortext" *ngIf="servererror!=false">{{servererror}}</span>
         <div (keyup)="seterrortonull()"  class="logininputdiv"><span><img src="../../assets/imgs/loginicon2.png" alt="#" /></span><ion-input placeholder="User Email" [(ngModel)]="formdata.email"></ion-input></div>
              <span *ngIf="(formdata.email== null || formdata.email.length==0) && showerror==true" class="errortext">User Email Required !!</span>

          <div (keyup)="seterrortonull()" class="logininputdiv"><span><img src="../../assets/imgs/loginicon1.png" alt="#" /></span><ion-input  type="password" placeholder="Password" [(ngModel)]="formdata.password"></ion-input></div>
              <span *ngIf="(formdata.password== null || formdata.password.length==0) && showerror==true"  class="errortext">Password Required !!</span>
          </div>



          <button (click)="loginsubmit()">login</button>
        </div>







    </div>


<!--
<ion-content padding>

</ion-content>-->

</ion-card>
